@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 221, 148);
    align-items: center;

    .container {
        width: 60vw;
        background: white;
        box-shadow: 1px -1px 400px 23px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px -1px 400px 23px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px -1px 400px 23px rgba(0, 0, 0, 0.75);
    }

    header {
        background: black;
        padding: 15px;
        display: flex;
        margin: 0;
        color: white;
        justify-content: flex-start;

        img {
            width: 70px;
        }

        .text-section {
            margin-left: 23px;

            h1 {
                font-weight: 300;
            }
        }
    }

    .chatting-section {
        overflow: scroll;
        height: 500px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="images\download.png" viewBox="0 0 80 80" width="80" height="80"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"%3E%3C/path%3E%3C/svg%3E');
        display: flex;
        justify-content: space-between;
        background-attachment: local;
        flex-direction: column;

        .message {
            background-color: rgb(134, 250, 134);
            padding: 10px;
            width: fit-content;
            margin: 20px;
            margin-top: 10px;
        }

        .message-from-us {
            display: flex;
            justify-content: flex-end;
            width: 95%;
            margin-bottom: 12px;
            background: none;

            p {
                background: rgb(134, 250, 134);
                padding: 10px;
            }
        }
    }

    .input-section {
        width: 100%;
        background: white;
        display: flex;

        input {
            padding: 11px;
            font-size: 25px;
            outline: none;
            width: 90%;
            background: white;
            border-radius: 10px;
            border: 2px solid rgb(199, 199, 199);
        }

        button {
            padding: 11px;
            font-size: 25px;
            cursor: pointer;
            border: 2px solid rgb(114, 255, 114);
            outline: none;
            border: none;
            border-radius: 20px;
            background: rgb(114, 255, 114);
        }
    }
}

::selection {
    background: rgb(0, 166, 255);
}